<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogiPack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">LogiPack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login_despachante">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/no_entregados">Paquetes no entregados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transportes">Agregar transporte</a>
                </li>
                <!--{% if 'user_info' in session %}
                    {% if session['user_info']['tipo'] == 'despachante' %}
                        <li class="nav-item">
                            <a class="nav-link" href="/asignar_paquetes">Asignar Paquetes</a>
                        </li>
                    {% endif %}
                    {% if session['user_info']['tipo'] == 'repartidor' %}
                        <li class="nav-item">
                            <a class="nav-link" href="/entregar_paquete">Registrar Entrega</a>
                        </li>
                    {% endif %}
                {% endif %}
                    -->
                <li class="nav-item">
                    <a class="nav-link" href="/login_repartidor">Login Repartidor</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
