{% extends "base.html" %}

{% block content %}
<hr>
    <h1>Registrar salida de transporte</h1>
    <hr>
    <h2>Listado de Sucursales</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Número</th>
                <th>Provincia</th>
                <th>Localidad</th>
            </tr>
        </thead>
        <tbody>
            {% for sucursal in sucursales %}
                <tr>
                    <td>{{ sucursal.numero }}</td>
                    <td>{{ sucursal.provincia }}</td>
                    <td>{{ sucursal.localidad }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <hr>
    <form method="POST">
        <div class="form-group">
            <label for="sucursal_id">Sucursal destino:</label>
            <select class="form-control" id="sucursal_id" name="sucursal_id" required>
                <option value="" selected disabled>Seleccionar sucursal</option>
                {% for sucursal in sucursales %}
                    <option value="{{ sucursal.id }}">{{ sucursal.numero }} - {{ sucursal.provincia }} - {{ sucursal.localidad }}</option>
                {% endfor %}
            </select>
        </div>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <br><br>
{% endblock %}
